body {
    min-height: 100vh;
    background: lightgray;
}

.h-100 {
    height: 100%;
}

.ellipsis  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.separator {
    border: 0.5px solid lightgray;
    border-radius: 5px;
}